extends layout

block content
    form(name="auth" method="post" action="/authorize")
        input(type="text" name="username" placeholder="username")
        input(type="password" name="password" placeholder="password")
        button(type="submit") Login
    a(href="/register") Not registered? Sign up here!