extends layout

block content
    table
        each val, index in user
            tr
                td= index
                td= val
        if(myProfile)
            tr
                td password
                td <em>hidden for security</em>
    if(myProfile)
        a(href="/users/" + user.username + "/edit") Edit profile